body {
    font-size: 3em;
    text-indent: .6em;
}

button {
    font-size: .75em;
    height: 1em;
}

input {
    width: 5em;
}

.result {
    text-indent: 0;
}

.indent {
    text-indent: 2.6em;
}

.hidden { 
    display: none; 
}